<div class="row well col-md-6 col-md-offset-3">
	<form role="form" action="#" class="password-form" method="POST">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" placeholder="username">
		</div>
		
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="password">
		</div>

		<div class="form-group">
			<input type="submit" value="Login" />
		</div>
	</form>
</div>
