<%  console.log(data);  %>
<div class="well well-lg">
	<form role="form" action="#" class="form-inline buyer-info" method="POST">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text" class="form-control" value="<%=(!_.isUndefined(data.name) && !_.isUndefined(data.name.givenName))?data.name.givenName:''%>" id="firstName" placeholder="First Name">
			</div>	

			<div class="form-group">
				<label for="firstName">Last Name</label>
				<input type="text" class="form-control" id="lastName" value="<%=(!_.isUndefined(data.name) && !_.isUndefined(data.name.familyName))?data.name.familyName:''%>" placeholder="Last Name">
			</div>

			<div class="form-group">
				<label for="emailAddress">Email Address</label>
				<input type="email" class="form-control" value="<%=(_.isUndefined(data.email))?'':data.email%>" id="emailAddress" placeholder="Enter email">
			</div>

			<div class="form-group">
				<label for="ssn">SSN show</label>
				<input type="text" class="form-control ssn-input" id="ssn" placeholder="">
				-
				<input type="text" class="form-control ssn-input" id="ssn" placeholder="">
				-
				<input type="text" class="form-control ssn-input" id="ssn" placeholder="">
			</div>

			<div class="form-group">
				<label for="address">Address</label>
				<textarea rows="3" class="form-control" id="address" placeholder="Address"><%=(_.isUndefined(data.address))?'':data.address%></textarea>
			</div>

			<div class="form-group">
				<label for="city">City</label>
				<input type="text" class="form-control" id="city" value="<%=(_.isUndefined(data.city))?'':data.city%>" placeholder="City">
			</div>

			<div class="form-group">
				<label for="state">State</label>
				<select id="state" class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>

			<div class="form-group">
				<label for="zip">Zip</label>
				<input type="text" class="form-control" value="<%=(_.isUndefined(data.zip))?'':data.zip%>" id="zip" placeholder="Zip">
			</div>

			<div class="form-group">
				<label for="phone">Phone</label>
				<input type="tel" class="form-control" id="phone" value="<%=(_.isUndefined(data.phone))?'':data.phone%>" placeholder="Phone">
			</div>

			<div class="form-group">
				<label for="altPhone">Alt. Phone</label>
				<input type="tel" class="form-control" id="altPhone" value="<%=(_.isUndefined(data.altPhone))?'':data.altPhone%>" placeholder="Alternative Phone">
			</div>

	</form>
</div>