<div class="container">
	<div class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#admin/dashboard">AmazingCreditResults.com</a>
	    </div>
	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	        <li class=""><a href="#admin/dashboard">Dashboard</a></li>
	        <li class=""><a href="#admin/buyer">Add Buyer</a></li>
	        <li class=""><a href="#admin/seller">Add Seller</a></li>
	        <li class=""><a href="#admin/owner">Add Owner</a></li>
	        <li class=""><a href="#admin/tradelines">Add Tradelines</a></li>
	        <li class=""><a href="#logout">Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</div>		
	
	
	<div class="main-view"></div>
</div>