<div class="container">
	<h1>AmazingCreditResults.com</h1>
	<a href="#logout" title="logout" class="logout-btn right hide">Logout</a>

	<div class="alert refresh-session-outer hide alert-info">
		You will be logged out in <span class="countdown-time">60</span> seconds. 
		<a class="refresh-session" href="javascript: void(0);">Click here to refresh session</a>
	</div>	
	
	<div class="well well-lg">
		WARNING: If you are NOT <strong class="username"></strong> you will NOT be able to place this order.
		If you are NOT <strong class="username"></strong>, please contact us at
        <a class="mail-to-h" href="javascript: void(0);">sales@amazingcreditresults.com</a>
		and we will happily send you a personalized link to order!
	</div>

	
	
	<div class="main-view">

	</div>
	
	

</div>