
<div class="col-md-9">
	<h3>Packages</h3>
	<div class="packages"></div>



	<h3>Individual Cards</h3>
	<div class="tradelines"></div>
	
	<h3>Our Current Invetory</h3>
	<div class="inventory"></div>	
</div>


<div class="col-md-3">
	<h3>Cart</h3>
	<div class="cart-area"></div>
</div>