<div class="form-group">
			<input type="button" class="goto-inventory" value="Are you an Expert? Skip to inventory now!" />
		</div>

<h5>Watch our quick video to find out how the process works!</h5>
<iframe width="300" height="315" src="{{videoUrl}}" frameborder="0" allowfullscreen></iframe>