<div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">Amazing Credit Results</a>
	</div>

	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
	    <li><a href="#/admin/manage-buyers">Buyers</a></li>
	    <li><a href="#/admin/manage-sellers">Sellers</a></li>
	    <li><a href="#/admin/manage-owners">Owners</a></li>
	    <li><a href="#/admin/manage-products">Products</a></li>
	    <li><a href="#/admin/manage-orders">Orders</a></li>
	  </ul>
	  
	  <ul class="nav navbar-nav navbar-right">
	    <li>
	    	<a href="javascript:void(0)">
	    	Logged in As: {{user.name.givenName}} {{user.name.familyName}}
	    	</a>
    	</li>
	    <li><a href="#/logout">Logout</a></li>
	  </ul>
	</div>
</div>