<div class="well well-lg">
	<p>You have ${{balance}} credit</p>
	{{#if balance}}
	<div class="form-group">
		<input type="checkbox" class="" placeholder="Alternative Phone">
		 Use ${{balance}} of Your Credit
	</div>
	{{/if}}
	<p>After credit Being Applied, you will Owe $50. You may pay by one of the options to your right.</p>
</div>