
<div class="col-md-4">
<div class="credit"></div>
</div>

<div class="col-md-4">
	<p>Pay by credit card</p>
	(Must be in your name)
	<div class="card"></div>
</div>

<div class="col-md-4">
<p>
	ACH (Bank Transfer) - <br/>
	(Must be in your Name)<br/>
	Copy this info From a check <a href="javascript: void(0)" title="see example" class="see-example">see example</a>
</p>
<div class="bank"></div>
</div>