<form role="form">
    <div class="panel panel-default">
        <div class="panel-heading">Payment Info</div>
        <div class="panel-body row">

            <div class="credit col-md-4">
                <div id="balance-state" class="centered">You have {{balance}} on your balance</div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Use {{balance}} of your credit
                    </label>

                    <p class="help-block">After credit being applied you will owe {{balance}}. You may pay by one of the options
                        to your right.
                    </p>
                </div>
            </div>
            <div class="cart col-md-4"></div>
            <div class="ach col-md-4"></div>
        </div>
    </div>
    <div class="centered">
        <button type="button" class="btn btn-large btn-default">I'm Done! →</button>
    </div>
</form>
