<div class='col-lg-4 col-lg-offset-4 col-xs-12'>
  <h4 class='text-center'>Welcome to Amazing Credit Results</h4>
  <div class='form-group'>
    <label>Username</label>
    <input class='form-control' ng-model='creds.username' type='text'>
  </div>
  <div class='form-group'>
    <label>Password</label>
    <input class='form-control' ng-model='creds.password' type='password'>
  </div>
  <div class='form-group text-center'>
    <input class='btn btn-success' ng-click='do.login()' value='Login'>
  </div>
</div>
