<h2>Orders</h2>
<table class='table' ng-table='view.tableParams'>
  <thead>
    <tr class='row'>
      <th class='text-left col-md-4 hidden-xs'>ID</th>
      <th class='text-left col-md-4 hidden-xs'>Cost</th>
      <th class='text-left col-md-4 hidden-xs'>Status</th>
    </tr>
  </thead>
  <tbody class='table-hover'>
    <tr class='row' ng-click='view.form.loadRow(prod)' ng-repeat='prod in $data'>
      <td class='col-md-4' data-title='ID' ng-bind='prod.id' sortable='name'></td>
      <td class='col-md-4' data-title='Cost' ng-bind='prod.order.orderTotal' sortable='orderTotal'></td>
      <td class='col-md-4' data-title='Status' ng-bind='prod.status' sortable='status'></td>
    </tr>
  </tbody>
</table>
