<form class='form-inline' ng-submit='view.form.create()'>
  <div class='alert alert-danger' ng-bind='view.form.error' ng-show='view.form.error'></div>
  <div class='form-group'>
    <label class='sr-only' for='email'>Email</label>
    <input class='form-control' id='email' ng-model='view.form.model.email' ng-required='true' placeholder='Email (required)' required size='30' tabindex='1' type='email'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='title'></label>
    <select class='form-control' id='title' ng-model='view.form.model.name.title' tabindex='2'>
      <option selected='selected' value=''>Title</option>
      <option>Mr.</option>
      <option>Ms.</option>
      <option>Mrs.</option>
    </select>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='first'>First Name</label>
    <input class='form-control' id='first' ng-model='view.form.model.name.givenName' ng-required='true' placeholder='First Name (required)' required size='20' tabindex='3' type='text'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='middle'>Middle Name</label>
    <input class='form-control' id='middle' ng-model='view.form.model.name.middleName' placeholder='Middle Name' size='20' tabindex='4' type='text'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='last'>Last Name</label>
    <input class='form-control' id='last' ng-model='view.form.model.name.familyName' ng-required='true' placeholder='Last Name (required)' required size='20' tabindex='5' type='text'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='suffix'></label>
    <select class='form-control' id='suffix' ng-model='view.form.model.name.suffix' tabindex='6'>
      <option selected='selected' value=''>Suffix</option>
      <option>Jr.</option>
      <option>Sr.</option>
      <option>III</option>
      <option>IV</option>
      <option>V</option>
    </select>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='dob'>Date of Birth</label>
    <input class='form-control' id='dob' ng-model='view.form.model.birthday' placeholder='DOB' size='10' tabindex='7' type='text'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='ssn'>SSN</label>
    <input class='form-control' id='ssn' ng-model='view.form.model.ssn' placeholder='SSN' size='11' tabindex='8' type='password'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='address'>Street Address</label>
    <input class='form-control' id='address' ng-model='view.form.model.street1' placeholder='Street Address' size='30' tabindex='9' type='text'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='address2'>Street Address 2</label>
    <input class='form-control' id='address2' ng-model='view.form.model.street2' placeholder='Street Address 2' size='30' tabindex='10' type='text'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='city'>City</label>
    <input class='form-control' id='city' ng-model='view.form.model.city' placeholder='City' size='15' tabindex='11' type='text'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='state'>State</label>
    <input class='form-control' id='state' ng-model='view.form.model.state' placeholder='State' size='2' tabindex='12' type='text'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='zip'>Zip</label>
    <input class='form-control' id='zip' ng-model='view.form.model.zip' placeholder='Zip' size='5' tabindex='13' type='text'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for='phone'>Phone</label>
    <input class='form-control' id='phone' ng-model='view.form.model.phone' placeholder='Phone' size='10' tabindex='14' type='tell'>
  </div>
  <br>
  <div class='checkbox-inline'>
    <label>
      <input ng-model='view.form.model.accountVerified' tabindex='15' type='checkbox'>Send welcome Email</input>
    </label>
  </div>
  <div class='checkbox-inline'>
    <label>
      <input ng-model='view.form.model.phoneVerified' tabindex='16' type='checkbox'>Phone Verified</input>
    </label>
  </div>
  <br>
  <div class='form-group pull-right'>
    <input class='btn btn-success' tabindex='17' type='submit' value='Create'>
  </div>
</form>
