<div class="welcome-message">
	Welcome to AmazingCreditResults.com. Please log in as an administrator. Remember - always keep your password secret and change it regularly. If you think someone knows your password, change it straight away.
</div>