<div class="container">
	<p class="">
		Take our 3 Question Test to determine the right trade lines for you
	</p>
	<ul class="questainair-questions">
		<%
		_.each(questions, function(question, q) {
			q++;
		%>
		<li>
			<%=question.question%>
			<ul class="questainair">
				<% _.each(question.options, function(res, a) {
					a++;	
					 %>
				<li>
					<% if(_.isUndefined(question.linkRequired) || question.linkRequired) {%>
					<a href="javascript: void(0);" class="questainair-options" data-question="<%=q%>" data-answer="<%=a%>"><%=res%></a>
					<% } else { %>
						<div class="calculation-question" data-question="<%=q%>" data-answer="<%=a%>"><%=res%></div>
					<% } %>	
				</li>
				<% }); %>
			</ul>
		</li>
		<%
		});
		%>
	</ul>

	<form role="form" action="#" class="find-trade-form" method="POST">
		<div class="form-group">
			<input type="checkbox" class="questionair" />
			Skip this Questionair the next time you visit
		</div>

		<div class="form-group">
			<input type="submit" value="Find My Best Trade Lines" />
		</div>
	</form>
</div>