<div class="container">
	<h1>AmazingCreditResults.com</h1>
	<div class="well well-lg">
		WARNING: If you are NOT <strong>John Doe</strong> you will NOT be able to place this order.
		If you are NOT <strong>John Doe</strong>, please contact us at <a href="mailto: sales@amazingcreditresults.com">sales@amazingcreditresults.com</a>
		and we will happily send you a personalized link to order!
	</div>

	<div class="row well col-md-6 col-md-offset-3">
		<p class="">
			Welcome to AmazingCreditResults.com. Please choose a secure password. You will be using this password
			to access your account in the future.
		</p>

		<form role="form" action="#" class="reset-password-form" method="POST">
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Please enter password">
			</div>

			<div class="form-group">
				<label for="confirmPassword">Confirm Password</label>
				<input type="password" class="form-control" id="confirmPassword" placeholder="Please confirm password">
			</div>

			<div class="form-group">
					<input type="submit" value="Set My Password And START BUYING" />
			</div>
		</form>
	</div>
</div>