<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#admin/dashboard">AmazingCreditResults.com</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#admin/dashboard">Manage Buyer</a></li>
        <li class="active"><a href="#admin/owner">Manage Owner</a></li>
        <li><a href="#logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
      
<!--h2>Owner's</h2>
<div class="list-view"></div-->

<h2>Create New Owner</h2>
<div class="create-buyer"></div>
