<h2>Tradelines's</h2>

<a href="#admin/tradelines/create" class="btn">Add Tradelines</a>

<div class="right">
	With Selected: <button class="btn delete-selected">Delete</button>
</div>

<div class="list-view"></div>
