.message-area {
  position: fixed;
  z-index: 2000;
  width: 100%;
  margin: 0;
  padding: 0;

  > div {
    width: 600px;
    margin: 10px 50%;
    left: -300px;
    position: relative;

    .message {
      width: 500px;
    }

    .code {
      position: absolute;
      top: 8px;
      right: 35px;
    }

    .close-btn {
      position: absolute;
      right: 5px;
      top: 5px;
    } 
  }
}

.submit-button {
  text-align: center;
}

.required {
  color: #FF0000;
}

div[data-error] {
  margin-top: 2px;
  color: red;
  min-height: 10px;
}

div[data-fieldsets] button {
  margin-bottom: 20px;
}

fieldset > div {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.form-group {
  width: 50%;
}

.full-width fieldset > div {
  width: 90%;
}

.form-inline .form-control {
  display: block;
  border: none;
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -os-box-shadow: none;
}

.form-inline input, .form-inline select, .form-inline textarea {
  border: 1px solid !important;
  padding: 0 5px !important;
}

input[type=text], input[type=password], select, textarea {
  width: 98% !important;
}

textarea {
  min-height: 50px;
}