.buyer-info .form-group {
  width: 49%;
  margin-bottom: 10px;
}

.buyer-info .form-group label {
  width: 25%;
}

.buyer-info .form-group input, .buyer-info .form-group textarea, .buyer-info .form-group select {
  width: 70%;
}

.buyer-info .form-group .ssn-input {
  width: 20%;
}

.questainair li {
  list-style-type: lower-alpha;
}

.questainair-questions {
  list-style-type: decimal;
}

.message-area {
  position: fixed;
  z-index: 2000;
  width: 100%;
  margin: 0;
  padding: 0;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

div[data-error] {
  margin-top: 5px;
  color: red;
}

fieldset {
  padding-bottom: 20px;
}

fieldset > div {
  display: inline-block;
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

