<div class="welcome-message">
	Welcome to AmazingCreditResults.com. Please choose a secure password. You will be using this password to access your account in the future. Always remember to keep your password confidential.
</div>

<div class="form"></div>