<div class="left">
	Cards <button class="btn add-new-card">Add New Card</button> 
</div>

<div class="right">
	With Selected: <button class="btn delete-selected">Delete</button>
</div>

<div class="list-product"></div>