<div class="refresh-session-outer">
	Your application will time out in <span class="countdown-time">60</span>. 
	<a class="refresh-session timeout-links" href="javascript: void(0);">Click here to refresh session</a>
	<a class="return-to-app timeout-links" href="javascript: void(0);">Return to App</a>
</div>
