<div class="message">{{message}}</div>
<span class="code label label-danger">{{code}}</span>
<a href="javascript: void(0);" class="right close-btn glyphicon glyphicon-remove btn btn-default btn-xs"></a>