<div class="input-group">
	{{#if before}}
	<div class="input-group-addon">{{before}}</div>
	{{/if}}
	<input type="text" class="form-control" />
	{{#if after}}
	<div class="input-group-addon">{{after}}</div>
	{{/if}}
</div>