<form role="form" class="form-inline" role="form">
    <div data-fieldsets></div>
      
    {{#if submitButton}}
    	<button type="submit" class="center-block btn btn-primary submit-button">
    		{{submitButton}}
    	</button>
   	{{/if}}
</form>