%h2 Store
.row
  .col-md-4(ng-repeat="line in view.tradelines" ng-if="line.totalAus - line.usedAus > 0")
    .panel.panel-default
      .panel-body
        .col-md-7
          %h4(ng-bind="line.product.name")
            %span(ng-bind="line.product.bank")
          %p 
            %strong Limit:
            {{line.niceLimit}}
          %p 
            %strong Statement Date:
            {{line.statementDate}}
          %p
            %strong AU's Available:
            {{line.totalAus - line.usedAus}}
        .col-md-5
          %h5.text-right ${{line.nicePrice}}.00
          .btn.btn-success.pull-right(ng-click="view.addToCart(line.id)") Add To Cart
