%h2 Cart
.row
  .col-md-4(ng-repeat="line in view.items")
    .panel.panel-default
      .panel-body
        .col-md-7
          %h4(ng-bind="line.product.name")
            %span(ng-bind="line.product.bank")
          %p 
            %strong Limit:
            {{line.niceLimit}}
          %p 
            %strong Statement Date:
            {{line.statementDate}}
          %p
            %strong AU's Available:
            {{line.totalAus - line.usedAus}}
        .col-md-5
          %h5.text-right ${{line.nicePrice}}.00
          .btn.btn-danger.pull-right(ng-click="view.removeFromCart(line.id)") Remove From Cart
.row
  %h4.col-md-12 {{view.items.length}} Items in your cart
  %h4.col-md-12 
    %strong Total: 
    ${{view.total}}.00
