%h2 Orders
%table.table(ng-table="view.tableParams")
  %thead
    %tr.row
      %th.text-left.col-md-4.hidden-xs ID
      %th.text-left.col-md-4.hidden-xs Cost
      %th.text-left.col-md-4.hidden-xs Status
  %tbody.table-hover
    %tr.row(ng-repeat="prod in $data" ng-click="view.form.loadRow(prod)")
      %td.col-md-4(data-title="ID" sortable="name" ng-bind="prod.id")
      %td.col-md-4(data-title="Cost" sortable="orderTotal" ng-bind="prod.order.orderTotal")
      %td.col-md-4(data-title="Status" sortable="status" ng-bind="prod.status")
