.table-responsive
  %table.table(ng-table="view.tableParams")
    %tr.row
      %th.text-left.col-lg-4 Name
      %th.text-left.col-lg-4 Email
      %th.text-left.col-lg-4 Phone
    %tr.row(ng-repeat="user in $data" ng-click="view.form.loadUser(user)")
      %td.col-lg-4(data-title="Name" sortable="name" ng-bind="user.fullName")
      %td.col-lg-4(data-title="Name" sortable="name" ng-bind="user.email")
      %td.col-lg-4(data-title="Name" sortable="name" ng-bind="user.phone")
