<div class="container">
	<h1>AmazingCreditResults.com</h1>
	<div class="well well-lg">
		WARNING: If you are NOT <strong>John Doe</strong> you will NOT be able to place this order.
		If you are NOT <strong>John Doe</strong>, please contact us at <a href="mailto: sales@amazingcreditresults.com">sales@amazingcreditresults.com</a>
		and we will happily send you a personalized link to order!
	</div>

	
	
	<div class="form-view">

	</div>
	
	

</div>