<div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">Amazing Credit Results</a>
	</div>

	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
	    <li><a href="#/buyer/pages/contact-us">Contact Us</a></li>
	    <li><a href="#/buyer/pages/faqs">FAQs</a></li>
	    <li><a href="#/buyer/pages/crash-course">Crash Course In Credit</a></li>
	    <li><a href="#/buyer/pages/legal">Legal Terms and Disclosures</a></li>
	  </ul>
	  
	  <ul class="nav navbar-nav navbar-right">
	    <li>
	    	<a href="javascript:void(0)">
	    	Logged in As: {{user.name.givenName}} {{user.name.familyName}}
	    	</a>
    	</li>
	    <li><a href="#/logout">Logout</a></li>
	  </ul>
	</div>
</div>